[submodule "ext/tracy"]
	path = ext/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ext/tiny-gltf"]
	path = ext/tiny-gltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "ext/json"]
	path = ext/json
	url = https://github.com/nlohmann/json.git
[submodule "ext/MikkTSpace"]
	path = ext/MikkTSpace
	url = https://github.com/mmikk/MikkTSpace.git
